{
  //https://babeljs.io/docs/en/assumptions
  "assumptions": {
    "noDocumentAll": true
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        // must match package.json
        "corejs": "3.24",
        "targets": {
          // https://hub.docker.com/layers/node/library/node/lts-alpine
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~src": "./src",
          "~test": "./test"
        }
      }
    ]
  ]
}
