{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        // package.json -> devDependencies -> "core-js"
        "corejs": "3.18",
        // https://hub.docker.com/layers/node/library/node/lts-alpine
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver",
      {
        "alias": {
          "~src": "./src",
          "~test": "./test"
        }
      }
    ]
  ]
}
