name: javascript-analyzer / format

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout code'
        uses: actions/checkout@v2
      - name: Use Node.js LTS (14.x)
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: 'Verify formatting of all files'
        run: ./bin/check-formatting.sh
